Repository nhedger/vscode-inertia: changes, and which lefthook commands are due for each by the changed paths.
All: biome, lint

biome:
  run: bun run biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

lint:
  run: pnpm exec eslint {staged_files}

prevent double run on pr
  .github/workflows/integrate.yaml
Due: none

add newline
  .github/workflows/release.yaml
Due: none

update changelog
  CHANGELOG.md
Due: none

delete dist
  dist/extension.js
Due: biome, lint

add newline
  lefthook.yaml
Due: none

add newline
  test/fixtures/routes.php
Due: none

chore(release): prepare v1 (#33)
  .editorconfig
  .github/actions/setup/action.yaml
  .github/workflows/integrate.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/release.yml
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  .vscodeignore
  CHANGELOG.md
  LICENSE.md
  biome.json
  bun.lock
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  rome.json
  src/editor/autocompletion.provider.ts
  src/editor/component-link.provider.ts
  src/extension.ts
  test/fixtures/routes.php
  tsconfig.json
  tsup.config.ts
Due: biome

ci: fix release workflow
  .github/workflows/release.yaml
Due: none

feat: Add modular page resolvers with prefix support
  README.md
  example-settings.json
  package.json
  src/editor/autocompletion.provider.ts
  src/editor/component-link.provider.ts
  src/helpers.ts
  test/fixtures/.vscode/settings.json
  test/fixtures/Modules/Accounting/Pages/Reports/Balance.tsx
  test/fixtures/Modules/Help.tsx
  test/fixtures/Modules/Inventory/Pages/Items/List.tsx
  test/fixtures/Modules/Shipping/Pages/Orders/Index.tsx
  test/fixtures/Modules/Some/Page.tsx
  test/fixtures/routes.php
Due: biome

update
  .vscode/extensions.json
  Modules/Accounting/Pages/Reports/Balance.tsx
  Modules/Shipping/Pages/Orders/Index.tsx
  example-settings.json
  package.json
  resources/apps/Pages/Help.tsx
  resources/apps/Pages/Some/Page.tsx
  src/editor/autocompletion.provider.ts
  src/editor/component-link.provider.ts
  src/helpers.ts
  test/fixtures/Modules/Help.tsx
  test/fixtures/routes.php
Due: biome

Path conditions:
  biome: any of: *.{js,ts,json}
  lint: any of: *.{js,jsx}
